#session-form {
  border: 3px solid #000000;
  // border-top: 
  width: 900px;
  margin: auto;
  position: absolute;
  top: 200px;
  left: 250px;
  border-radius: 15px;
}

#session-form h1 {
  text-align: center;
}

.session-input {
  height: 40px;
  width: 500px;
  margin: 0 20%;
  margin-top: 20px;
  font-size: 24px;
  padding-left: 20px;
  border-radius: 10px;

}

.session-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #008952;
  font-size: 20px;
  color: #fff;
  padding: 10px 50px;
  margin: 20px 40%;
  border-radius: 10px;

}

.session-form{
  position: relative;
}

.session-errors{
  position: absolute;
}

