.browse-channels {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background: white;
}


.joinable-channel {
  cursor: pointer;
}

.joined-channel {
  cursor: pointer;
}
