.item-link {
  text-decoration: none;
  color: #cac4c9;
}

.main-page {
  background: white;
  color: black;
  display: flex;
  height: 700px;
}

.sidebar {
  background: #473A4A;
  max-height: 100%;
  width: 266px;
  padding-bottom: none;
  color: #cac4c9;
  overflow: scroll;
  line-height: 1.8em;
}

.sidebar-header {
  padding-left: 20px;
}

.team-name {
  color: white;
}

.channel-index-item {
  padding-left: 20px;
}

.highlight {
  background: #4c9689;
}

.highlight span {
  color:white;
}
