// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #fff;
  font-family: 'Nunito', sans-serif;
}

header {
  border-bottom: 2px solid #ebebeb;
  // #ebebeb
}

.header {
  // overflow: auto;
  height: 60px;
}

.header-nav {
 display: flex;
 justify-content: space-between;
 margin: 0 auto; 
 margin: auto 0;
//  width: 100px;
 
}

.logo {
  // display: flex;
  // justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  padding: 9px 0;
}

.logo img {
  display:inline;
  vertical-align: middle;


}
.logo h1 {
  display: inline;
  // margin-left: -15px;
  vertical-align: middle;
  font-size: 28px;
  font-weight: 700;
  color: #2e333a;
  padding-left: 8px;
}

// header.jsx
.nav-list {
  // display: flex;
  // justify-content: space-between;
  // height:;
  // background: rgb(161, 189, 240);
  // position: relative;
  position: absolute;
  right: 50px;
  top: 25px;
}

.logged-in {
  display: flex;
}

.logged-in-item {
  margin-left: 10px;
}

.logout-button {
  border-radius: 5px;
  padding: 5px 15px;
}

.logged-out {
  display: flex;
}

.logged-out-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  color: #6d6e7a;
  // vertical-align: text-bottom ;
  // margin-top: 
}

.logged-out-list span {
  margin-right: 30px;
  font-size: 16px;
  margin-top: -2px;
  font-weight: 300;
  // vertical-align: bottom;
}

.link {
  font-weight: 300;
  margin-top: -8px;
  text-decoration: none;
  padding: 5px 15px;
  color: #6d6e7a;
  border: 1px solid #323747 !important;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
}

// .clearfix:after{
//   clear: both;
// }

.welcome{
  // background: peachpuff;
  margin: 0 auto;
  position: relative;
}

.section-one {
  display: flex;
}

.main-img img {
  height: 60%;
  margin-left: 50px;
  width: auto;
  margin-top: 130px;
}

.main-text {
  margin-top: 20px;
  margin-left: -80px;;
  padding-right: 35px;
}

.main-text h1 {
  font-size: 83px;
  font-family: serif;
  color: #323747;
  font-weight: 700;
}

.second {
  margin-top: -88px;
}

.main-text p:nth-of-type(1) {
  font-size: 21px;
  font-weight: 300;
  color: #5B5E6B;
  line-height: 1.5;
  margin-top: -50px;
}

.get-started {
  font-size: 13px;
  background: #3f46ad;
  color: #fff;
  padding: 20px 35px;
  border-radius: 5px;
}

.main-text p:nth-of-type(2) {
  font-size: 14px;
  color: #5B5E6B;

}

.main-page {
  background: peachpuff;
  height: 500px;
  width: 500px;
  color: black;
}

